{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% set subscription = resource %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'app.ui.subscription'|trans }} #{{ subscription.id }}
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ subscription.createdAt|format_date }}
                </div>
                <div class="item">
                    {% include [('Acme/SyliusExamplePlugin/Account/Subscription/Label/State' ~ '/' ~ subscription.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ subscription.state)|trans} %}
                </div>
                <div class="item">
                    {{ flags.fromLocaleCode(subscription.localeCode) }}{{ subscription.localeCode|locale }}
                </div>
            </div>
        </div>
    </div>
</h1>

{% if subscription.state not in ['cancelled'] %}
    <a href="{{ path('customer_cancel_subscription', {'id': subscription.id}) }}" class="ui red labeled icon button">
        <i class="trash icon"></i>
        {{ 'app.ui.cancel_subscription'|trans }}
    </a>
{% endif %}
